networks:
  mynet:

volumes:
  data-vol:

services:
  mydb:
    image: stackupiss/northwind-db:v1
    volumes:
      - type: bind
        source: data-vol
        target: /var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=changeit
    networks:
      - mynet
  myapp:
    image: stackupiss/northwind-app:v1
    environment:
      - DB_HOST=mydb
      - DB_USER=root
      - DB_PASSWORD=changeit
    ports:
      - 8080:3000
    networks:
      - mynet
    depends_on:
      mydb:
        condition: service_started
